

.page-front  .bg-img{
  width: 100%;
}
.page-front .right-banner{
  position: absolute;
  right: 0;
  top:70%;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.page-front .banner-svg{
  position: absolute;
  right: -10%;
}
.page-front .contact-btn{
  position: absolute;
  right: 9%;
  top: 37%;
}

.header {
  background-color: #fff;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  
  width: 95%;
  margin:0 auto; 

}
.header .header-logo{
  width: 170px;
}

.header nav ul{
  font-size: 16px;
  display: inline-flex;
  list-style-type:none;
}

.header nav a{
  color:#343432;
  text-decoration:none ;
  padding: 0 30px;
}
.header nav a:hover{
  color:#000000; 
}

.page-front .service-page{
  position: relative;
  height:160vh;
  background-color: #F5F5F5;
}
.page-front .service-page .service-page-title{
  position: absolute;
  font-weight: bold;
  left: 12%;
  top:10%;
}
.page-front .service-page .service-page-title img{
  height: 41px;
}
.page-front .service-page .service-page-title h2{
  margin: 0 0 0 30px;
  font-size: 34px;
}

.page-front .service-page .service-img-main{
  padding-bottom: 150px;
  width: 47%;
}
.page-front .service-img{
  position: absolute;
}
.page-front #service_kiroku {
  top: 34%;
  left: 0;
  width: 34%;
}.page-front #service_seizou {
  bottom: 7%;
  left: 0;
  width: 57%;
}
.page-front #service_zaiko {
  top: 19%;
  right: 0;
  width: 40%;
}
.page-front #service_zyuhattyu {
  bottom: 22%;
  right: 0;
  width: 39%;
}




.page-front .flow-page img{
  width: 6%;
}
.page-front .flow-page h2{
  margin: 0;
}
.page-front .flow-page-box{
  margin: 60px auto 0 auto;
  max-width: 1160px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page-front .flow-page-box .flow-page-item{
  display: flex;
  flex-direction: column;
  min-height: 465px;
  background-color: #F5F5F5;
  margin-bottom: 100px;
  padding: 35px 20px 20px 20px;
}
.page-front .flow-page-box .flow-page-item p{
  font-size: 15px;
  font-weight: bold;
  max-width: 200px;
}
.page-front .flow-page-box .flow-page-item .flow-title{
  width: 200px;
}
.page-front .flow-page-box .flow-page-item .flow-figure{
  height: 200px;
  width: auto;
  max-width: 200px;
  margin-bottom: 56px;
}







